.Feed {
   position: absolute;
   height: 30%;
   background-color: #e1ad01;
top: 28%;
    border: 1px solid #fff;
    border-radius: 10px;
}
@media (max-width: 500px) {
    .Feed {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
}

ul {
    padding: 10px;
    color: black;
}
.link {
    list-style-type: none;
     padding: 10px 10px 10px 10px;
}
a {
    color: #23527c;
}
.para {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;

}
