.ListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 5px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  
  }
  .footer-class {
    background-color: #23527c;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    
  }
